.card-img-topfluid{
    height: 200px !important;
}

.carousel-item{
    height: 100vh;
}

.form-1 {
    border: 4px solid rgb(0, 0, 0);
    width: 43%;
    margin: auto;
    padding: 10px;
    color: rgb(0, 0, 0);
}

label {
    display: inline-block;
    font-size: 20px;
    margin-bottom: 0.6rem;
    margin-top: 1rem;
}

input[type="text"],
input[type="number"],
input[type="email"],
input[type="password"],
input[type="date"] {
    width: 98%;
    padding: 5px;
}

.man {
    background-image: linear-gradient(rgba(255, 255, 255, 0.406), rgba(255, 255, 255, 0.794)), url(./img/nastuh-abootalebi-eHD8Y1Znfpk-unsplash.jpg);
    background-size: cover;
    background-attachment: fixed;
}

button {
    margin-top: 2rem;
    padding: 6px 16px;
    border: none;
    font-weight: bold;
    font-size: 20px;
}
h1{
    text-align: center;
    color: rgb(0, 0, 0);
    font-size: 50px;
}




.row{
    justify-content: start;
}

