.card-img-topfluid{
    height: 400px !important;
    width: 100% !important;
}

.carousel-item{
    max-height: 100vh !important;
    position: relative;
    motion-rotation: 100%;
}

.form-1 {
    border: 4px solid rgb(0, 0, 0);
    width: 43%;
    margin: auto;
    padding: 10px;
    color: rgb(0, 0, 0);
}

label {
    display: inline-block;
    font-size: 20px;
    margin-bottom: 0.6rem;
    margin-top: 1rem;
}

input[type="text"],
input[type="number"],
input[type="email"],
input[type="password"],
input[type="date"] {
    width: 98%;
    padding: 5px;
}

.man {
    background-image: linear-gradient(rgba(255, 255, 255, 0.406), rgba(255, 255, 255, 0.794)), url(./img/nastuh-abootalebi-eHD8Y1Znfpk-unsplash.jpg);
    background-size: cover;
    background-attachment: fixed;
}

button {
    margin-top: 2rem;
    padding: 6px 16px;
    border: none;
    font-weight: bold;
    font-size: 20px;
}
h1{
    text-align: center;
    color: rgb(0, 0, 0);
    font-size: 50px;
}




.row{
    justify-content: start;
    
}

/*..........................
 styling for the contact page
 ............................*/
 .kel{
    text-align: center;
    color: rgb(0, 0, 0);
    font-size: 30px; 
}

button {
    margin-top: 2rem;
    padding: 6px 16px;
    /* border: 2px solid rgb(0, 0, 0); */
    font-weight: bold;
    font-size: 20px;
}

.con{
    background-image: url(./img/samantha-gades-BlIhVfXbi9s-unsplash.jpg);
    background-size: cover;  
    height:100vh ;
    padding-top: 2rem;
    text-align:center;
    } 

label {
    display: inline-block;
    font-size: 20px;
    margin-bottom: 0.6rem;
    margin-top: 1rem;
}


input[type="text"],
input[type="number"],
input[type="email"],
input[type="password"],
input[type="date"]{ 
    width: 98%;
    padding: 5px;
}

.form-1 {
    /* border: 2px solid rgb(0, 0, 0); */
    width: 43%;
    margin: auto;
    padding: 10px;
    color: rgb(0, 0, 0);
}

/*..........................
 styling for the about us page
 ............................*/
 .mna{
    width: 1000px;
}

.mna2{
    padding: 2rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 20px;
    color: black;
}

.mn{
    padding-left:40rem; 
    color: black;
    margin-top: 10rem;
    text-align: center;
}

.soft{
    display: flex;
}

body{
background-color:white ;
padding: 1rem;
}

h1{
    color: black;
}
.plaence{
    background-color: whitesmoke;
}
.fortress{
    text-align: center;
    font-size: 26px;
    color: rgb(97, 11, 11);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.perfect{
    padding-top: 5rem;
}
.card {
    margin: 20px;
    padding: 20px;
    border-radius: 10px;
    border: 4px solid black;
}

.parentcontainer {
    display: flex;
    justify-content: center;
}

.man {
    margin: 20px;
    padding: 20px;
    border-radius: 10px;
    border: 4px solid black;
}

/* /* .pet {
    display: flex;
    justify-content: center;
} */
/*  
.parentcontainer :hover {
    background-color:rgb(255, 123, 0); ;
    outline: 4px solid black;
    color:white; 
}*/

.man :hover {
    background-color: black;
    color: white;
    
}  


/* .me{
 margin-left: 80px;
 background-color: aqua;
} */

/* .manu {
padding-top: 5rem;
padding-left: 2rem;
} */
 .pere{
    display: flex;
    justify-content: end;
 }
 /********** Template CSS **********/
:root {
    --primary: #13C5DD;
    --secondary: #354F8E;
    --light: #EFF5F9;
    --dark: #1D2A4D;
}

.btn {
    font-weight: 700;
    transition: .5s;
}

.btn:hover {
    -webkit-box-shadow: 0 8px 6px -6px #555555;
    -moz-box-shadow: 0 8px 6px -6px #555555;
    box-shadow: 0 8px 6px -6px #555555;
}

.btn-primary {
    color: #FFFFFF;
}

.btn-square {
    width: 36px;
    height: 36px;
}

.btn-sm-square {
    width: 28px;
    height: 28px;
}

.btn-lg-square {
    width: 46px;
    height: 46px;
}

.btn-square,
.btn-sm-square,
.btn-lg-square {
    padding-left: 0;
    padding-right: 0;
    text-align: center;
}

.back-to-top {
    position: fixed;
    display: none;
    right: 30px;
    bottom: 0;
    border-radius: 50% 50% 0 0;
    z-index: 99;
}

.navbar-light .navbar-nav .nav-link {
    font-family: 'Jost', sans-serif;
    position: relative;
    margin-left: 30px;
    padding: 30px 0;
    font-size: 18px;
    font-weight: 700;
    color: var(--dark);
    outline: none;
    transition: .5s;
}

.navbar-light .navbar-nav .nav-link:hover,
.navbar-light .navbar-nav .nav-link.active {
    color: var(--primary);
}

@media (min-width: 992px) {
    .navbar-light .navbar-nav .nav-link::before {
        position: absolute;
        content: "";
        width: 0;
        height: 5px;
        bottom: 0;
        left: 50%;
        background: var(--primary);
        transition: .5s;
    }

    .navbar-light .navbar-nav .nav-link:hover::before,
    .navbar-light .navbar-nav .nav-link.active::before {
        width: 100%;
        left: 0;
    }
}

@media (max-width: 991.98px) {
    .navbar-light .navbar-nav .nav-link  {
        margin-left: 0;
        padding: 10px 0;
    }
}

.hero-header {
    background: url(../img/hero.jpg) top right no-repeat;
    background-size: cover;
}

.service-item {
    position: relative;
    height: 350px;
    padding: 0 30px;
    transition: .5s;
}

.service-item .service-icon {
    width: 150px;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: var(--primary);
    border-radius: 50%;
    transform: rotate(-14deg);
}

.service-item .service-icon i {
    transform: rotate(15deg);
}

.service-item a.btn {
    position: absolute;
    width: 60px;
    bottom: -48px;
    left: 50%;
    margin-left: -30px;
    opacity: 0;
}

.service-item:hover a.btn {
    bottom: -24px;
    opacity: 1;
}

.price-carousel::after {
    position: absolute;
    content: "";
    width: 100%;
    height: 50%;
    bottom: 0;
    left: 0;
    background: var(--primary);
    border-radius: 8px 8px 50% 50%;
    z-index: -1;
}

.price-carousel .owl-nav {
    margin-top: 35px;
    width: 100%;
    text-align: center;
    display: flex;
    justify-content: center;
}

.price-carousel .owl-nav .owl-prev,
.price-carousel .owl-nav .owl-next{
    position: relative;
    margin: 0 5px;
    width: 45px;
    height: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--primary);
    background: #FFFFFF;
    font-size: 22px;
    border-radius: 45px;
    transition: .5s;
}

.price-carousel .owl-nav .owl-prev:hover,
.price-carousel .owl-nav .owl-next:hover {
    color: var(--dark);
}

@media (min-width: 576px) {
    .auto-slider {
        height: 400%;
    }
}




.auto-slider{
    position: relative;
    box-sizing: content-box;
    display: inline-block;
    padding: 10px 10px 20px;
    background: #fff;
    max-width: 100%;
    margin: 0 auto;
    overflow: hidden;
    border-radius: 4px;
    box-shadow: 1px 1px 6px rgba(0, 0, 0, 0.4);

}


@keyframes sliding{
            0%{left: 0%; }
            20%{left: -100%;}
            40%{left: -200%;}
            60%{left: -300%;}
            80%{left: -400%;}
            100%{left: 0%;}
        }        
        
@keyframes indicating{
            from{
                left: -100%;
            }
            to{
                left: 0;
            }
}  
        
        
div#slider { overflow: hidden; }
div#slider figure img { width: 20%; float: left; }
div#slider figure { 
  position: relative;
  width: 500%;
  margin: 0;
  left: 0;
  text-align: left;
  font-size: 0;
  animation: 25s sliding ease infinite; 
}

/* Slider indicator */
.indicator{
    width: 100%;
    max-width: 100%;/*720px;*/
    height: 6px;
    background: #e41b17;
    position: absolute;
    bottom: 0;
    
    animation: indicating 5s ease infinite; 
    
}